@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a,#3a3a3a);
}
.calculator{
    width: 100%;
    max-width: 350px;
    border: 1px solid #717371;
    padding: 20px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 0px 15px #4a4a4a ;
}
input{
    text-align: right;
    width: 100%;
    max-width: 320px;
    border: none;
    background: transparent;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 15px #4a4a4a ;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 3.2rem;
    height: 3.2rem;
    margin: 5px;
    border-radius: 50%;
    background: transparent;
    color: white;
    box-shadow: 0px 3px 7px rgb(79, 79, 79);
    font-size: 19px;
    cursor: pointer;
}
.equalsymbol{
    background: orangered;
}
.operator{
    color: greenyellow;
}

@media (max-width: 480px) {
    input {
        font-size: 40px;
        padding: 25px;
    }

    button {
        width: 55px;
        height: 55px;
        font-size: 16px;
        margin: 4px;
        touch-action: manipulation;
    }

    .calculator {
        padding: 20px;
        border-radius: 20px;
    }
}
